.section__projects {
  /* background: rgb(237, 235, 235); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section__title_main {
  background: var(--main);
  color: var(--White);
  padding: 0.4rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 1rem;
  display: inline;
  font-size: 3.5rem;
  font-weight: bold;
}

.section__title_sub {
  color: var(--textColor);
  font-size: 3.5rem;
  font-weight: bold;
}
.items__list {
  /* display: flex;
justify-content: center;
align-items: center;
width: 90vw;
flex-wrap: wrap;
gap: 3rem;
margin-top: 6rem; */
   display: grid;
    margin: 3rem 1rem 4rem 1rem;
    align-items: center;
    gap:5rem;

}
@media screen and (min-width: 1000px) {
  .items__list{
  grid-template-columns: 1fr 1fr;
  }
}

