.item {
  box-shadow: var(--shadow);
  height: 65rem;
  display: flex;
  width: 30rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}
.item:hover{
  box-shadow: var(--shadowHover);
}
.thumb {
  width: 30rem;
  height: 30rem;

}
.thumb > .image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
    border: 0.1rem var(--textLightColor) solid;
  border-radius: 1rem;
}
.item__specification {
  height: 40rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.2rem;
}
.title__wrapper {
  display: flex;
  justify-content: space-around;

}
.item__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--textColor);
  padding-right: 2rem;
  border-bottom: 2px solid var(--textColor);
}
.item__symbol {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(232, 106, 28);
}
.item__description{
font-size: 1.8rem;
font-weight: 400;
text-align:justify;
margin-top: 2rem;
min-height: 10rem;
margin-left: 1rem;
margin-right: 1rem;
color:var(--textLightColor)
}
.icon{
  width: 4rem;
  height: 4rem;
}
.icon:hover{
  transform: scale(1.1);
}
.icons__wrapper{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2rem;
  
}
.item__tech{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-left: 2rem;
}
.item__tech p{
  font-size: 1.5rem;
  color:var(--textColor);
    padding-right:1rem;
  border-bottom: 2px solid var(--textColor);
  text-align: left;
}
.buttons__list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;

 
  border-radius: .5rem;
  padding-top: 2rem;
}
.button{
  width: 6rem;
  height: 3rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-decoration: none;
  color:var(--White);
  background:var(--main);
  border-radius: .5rem;

}
.button:hover{
background: var(--secondaryHover);
}
.icon__wrapper{
  position: relative;
    width: 4rem;
  height: 4rem;

}
.tooltip{
   visibility: hidden; 
  position: absolute;
  bottom:-3rem;
  right: -1rem;
  z-index: 1;
 /* color: red; */
  background-color: var(--textColor);
  font-size: 1.1rem;
  color: var(--White);
  text-align: center;
  border-radius: .5rem;
  padding: .5rem 1rem;
}
.icon__wrapper:hover .tooltip{
  visibility: visible;
}
@media screen and (min-width: 1000px) {
.item {
  width: 45rem;
  height: 65rem;
}
.thumb > .image {
  width: 45rem;
}

}