.section__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.section__title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section__title_main {
  background: var(--main);
  color: var(--White);
  padding: 0.4rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 1rem;
  display: inline;
  font-size: 3.5rem;
  font-weight: bold;
}

.section__title_sub {
  color: var(--textColor);
  font-size: 3.5rem;
  font-weight: bold;
}
.contact {
  display: flex;
}
.image__wrapper {
  display: none;
  width: 60vw;
  height: 60vh;
}
.image__wrapper > .image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__label {
  font-size: 2rem;
  color: var(--textColor);
  font-weight: thin;
  margin-bottom: 0.5rem;
}
.form__input {
  width: 70vw;
  height: 3rem;
  font-size: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0.2rem solid;
  border-radius: 0.5rem;
  border-color: var(--textColor);
  margin-bottom: 2rem;
}
.form__input::placeholder {
  text-align: center;
  font-size: 1.3rem;
  color: var(--textLightColor);
}
.form__input:focus,
.form__textarea:focus {
  outline-color: darkorange;
  border: 0.2rem darkorange solid;
}
.form__textarea {
  border: 0.2rem solid;
  resize: none;
  padding: 1rem;
  border-radius: 0.5rem;
  border-color: var(--textColor);
  width: 70vw;
}
.form__textarea::placeholder {
  text-align: center;
  font-size: 1.3rem;
  color: var(--textLightColor);
}
.form__btn {
  margin-top: 2rem;
  width: 10rem;
  height: 4rem;
  background: var(--main);
  font-size: 2rem;
  text-decoration: none;
  color: var(--White);
  border: none;
  border-radius: 0.5rem;
}
.form__btn:hover {
  background: var(--secondary);
}
@media screen and (min-width: 1024px) {
  .image__wrapper {
    display: block;
    max-width: 40vw;
  }
  .contact {
    max-width: 90vw;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;
  }

  .contact__form{
    min-width: 45vw;
  }
  .form__input,
  .form__textarea {
    width: 45rem;
  }
}
